In [2]:
# GENERIC
import pandas as pd #data transformation
import numpy as np
import tqdm
import os

# INITIALIZATION
directory = os.path.realpath(os.path.join(os.getcwd(),".."))
os.chdir(directory)
print(directory)

/Users/konstantin/Documents/Projects/McGill/McGill-INSY-669-GroupProject

In [3]:
amzn_cln = pd.read_csv(os.path.join(directory, 'data', 'Amazon', 'Amazon_comments_processed.csv'))
amzn = pd.read_csv(os.path.join(directory, 'data', 'Amazon', 'Amazon_comments.csv'))

In [4]:
display(amzn_cln.head(5))
print()
display(amzn.head(5))

,Title_Review,Pros,Cons,id,Stars,Company_name,Recommend,CEO_approval,Business_outlook,Location,Date,Employee_type,Employee_sen
0,"['good', 'impression', 'first', 'month']","['documentation', 'amazon', 'super', 'importan...","['need', 'understand', 'job', 'need', 'improve...",empReview_73247758,5.0,Amazon,positive,neutral,neutral,"Toronto, ON",2023-02-02,current employee,<1 yrs
1,['intern'],"['4', 'day', 'shifts', 'nice']","['long', 'hour', 'shift', 'make', 'feel', 'tire']",empReview_73187609,5.0,Amazon,neutral,neutral,neutral,"Toronto, ON",2023-01-31,former employee,<1 yrs
2,['good'],"['great', 'work', 'balance', 'great', 'environ...","['workload', 'heavy', 'sometimes']",empReview_73188818,5.0,Amazon,positive,positive,positive,"Amazon, SK",2023-01-31,former employee,1-3 yrs
3,"['job', 'review']","['good', 'benefit', 'flexible', 'time', 'shift...","['good', 'organization', 'work', 'well', 'car'...",empReview_73190433,5.0,Amazon,positive,positive,positive,NaN,2023-01-31,former employee,NaN
4,"['growth', 'opportunity']","['fast', 'paced', 'start-up', 'culture', 'bene...","['compensation', 'growth', 'prospect', 'develo...",empReview_73197210,4.0,Amazon,positive,negative,negative,"Vancouver, BC",2023-01-31,current employee,3-5 yrs

,id,Title_Review,Stars,Company_name,Recommend,CEO_approval,Business_outlook,Pros,Cons,Employee_seniority,Location,Date
0,empReview_73247758,Good impression in the first months,5.0,Amazon,positive,neutral,neutral,Documentation on Amazon is a super important p...,You need to understand your job and what you n...,"Current Employee, less than 1 year","Toronto, ON","Feb. 2, 2023"
1,empReview_73187609,intern,5.0,Amazon,neutral,neutral,neutral,4 days shifts is nice,long hour shift can make you feel tired,"Former Employee, less than 1 year","Toronto, ON","Jan. 31, 2023"
2,empReview_73188818,good,5.0,Amazon,positive,positive,positive,"great work balance, great environment, locatio...",workload can be heavy sometimes,"Former Employee, more than 1 year","Amazon, SK","Jan. 31, 2023"
3,empReview_73190433,job review,5.0,Amazon,positive,positive,positive,"good benefit, flexible time shift. take care o...","better organization of work, better car parkin...",Former Employee,NaN,"Jan. 31, 2023"
4,empReview_73197210,Growth Opportunity,4.0,Amazon,positive,negative,negative,"Fast paced, Start-Up Culture, Benefits","Compensation, Growth Prospects, Development Op...","Current Employee, more than 3 years","Vancouver, BC","Jan. 31, 2023"